.edit{
    color: white !important;
    text-decoration: none;
}

.delete{
    color: white !important;
    text-decoration: none;
}
.ans{
    color: white !important;
    text-decoration: none;
}
.bs{
    color: white !important;
    text-decoration: none;
}